<div class="profile-container">

    <header>
        <img src="https://img.freepik.com/premium-vector/women-s-day-illustration_391639-696.jpg">
        <h1>Abigael Reyes</h1>
        <div class="update-action">
            <div class="placeholder-div"></div>
            <h2>Web Developer | Designer | UI/UX Developer</h2>
            <button type="button" class="btn btn-secondary" routerLink="/login">Update Profile</button>
        </div>
    </header>
    <section id="bio">
        <h3 #bioAboutMe class="bio-about" id="bio-about-one">About Me</h3>
        <p>I’m a passionate Web Developer specializing in building responsive, user-friendly websites and applications.
            With a strong foundation in front-end and back-end development, I love turning ideas into digital solutions
            that are both functional and visually engaging.</p>
    </section>
    <section id="work">
        <h3 #workTitleOne class="work-title" id="work-title-one">My Work</h3>
        <div class="project-content">
            <div class="project" id="project-one">
                <img class="work-img" src="assets/images/work-one.jpg" alt="Project 1" /> 
            </div>
            <div class="project" id="project-two">
                <img class="work-img" src="assets/images/work-two.jpg" alt="Project 2" /> 
            </div>
        </div>
        <div class="project-content-two">
            <div class="project" id="project-three">
                <img class="work-img" src="assets/images/work-three.jpg" alt="Project 3" /> 
            </div>
            <div class="project" id="project-four">
                <img class="work-img" src="assets/images/work-four.jpg" alt="Project 4" /> 
            </div>
        </div>
    </section>
    <footer class="footer">
        <button class="btn btn-secondary" (click)="myFunctionAlert()">Click to display alert message</button>
        <button class="btn btn-secondary" (click)="myFunctionOne()">Change My Work Title Font color to blue</button>
        <button class="btn btn-secondary" (click)="myFunctionTwo()">Change About Me any Font Size</button>
    </footer>
</div>